<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products-CloudySlice</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>
<body>
<div class="header">
    <div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="img/images/logo.png" width="125px">
        </div>
        <nav>
        <ul id="menu-items">
            <li><a href="">Home</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Account</a></li>
        </ul>
        </nav>
        <img src="img/images/cart.png" width="30px" height="30px">
        <img src="img/images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
    
</div>
</div> 

<!-- single product details -->
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="img/images/gallery-1.jpg" width="100%" id="productimg">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="img/images/gallery-1.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="img/images/gallery-2.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="img/images/gallery-3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="img/images/gallery-4.jpg" width="100%" class="small-img">
                </div>

            </div>
        </div>
        <div class="col-2">
          <p>  Home / T-shirt</p>
          <h1>Red printed T-shirt by hrx</h1>
          <h4>ksh. 3,000</h4>
          <select name="" id="">
              <option value="">select Size</option>
             <option value="">xxl</option>
             <option value="">xl</option>
             <option value="">Large</option>
             <option value="">Medium</option>
             <option value="">Small</option>
            </select>
            <input type="number" value="1">
            <a href=""class="btn">Add to Cart</a>
            <h3>Products Details<i class="fa fa-indent"></i></h3>
            <p> Give your summer wardrobe a style upgrade with Hrx
                men's active T-shirt. Team it with a pair of shorts for your morning
            workout or a denim for an evening out with the guys </p>
        </div>
    </div>
</div>

<!-- title -->
<div class="small-container">
    <div class="row row-2">
         <h2>Related Products</h2>
         <p>View more</p>
    </div>
</div>

<!-- products -->
<div class="small-container">

        <div class="row">
            <div class="col-4">
                <img src="img/images/product-5.jpg" >          
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-o"></i>
    
                </div>
                <p>Ksh 2,500</p>
            </div>
            <div class="col-4">
                <img src="img/images/product-6.jpg" >          
                <h4>Black  Printed Shoes</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-o"></i>
    
                </div>
                <p>Ksh 2,500</p>
            </div>
            <div class="col-4">
                <img src="img/images/product-7.jpg" >          
                <h4>Gray Printed Pants</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-o"></i>
                    <i class="fa-solid fa-star-o"></i>
    
                </div>
                <p>Ksh 3,500</p>
            </div>
            <div class="col-4">
                <img src="img/images/product-8.jpg" >          
                <h4>Blue Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-o"></i>
                    <i class="fa-solid fa-star-o"></i>
    
                </div>
                <p>Ksh 2,500</p>
            </div>
    
        </div>

    </div>
    
     


  
</div>


<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download App for Android and ios mobile phone</p>
                <div class="app-logo">
                    <img src="img/images/play-store.png">
                    <img src="img/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
               <img src="img/images/logo-white.png">
                <p>Our purpose is To sustainably make the pleasure <br>and Benefits of sports Accessible to the Many.</p>

            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
               <ul>
                   <li>Coupons</li>
                   <li>Blog Post</li>
                   <li>Return Policy</li>
                   <li>Join Affiliate</li>
               </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
               <ul>
                   <li>Facebook</li>
                   <li>Twitter</li>
                   <li>Instagram</li>
                   <li>Youtube</li>
               </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">
            Copyright 2022 -Cloudy Enterprise
        </p>
    </div>
</div>
<!-- js toggle menu -->
<Script>
    let MenuItems=document.getElementById('menu-items');
    MenuItems.style.maxHeight="0px";
    function menutoggle(){
        if(MenuItems.style.maxHeight=="0px"){
            MenuItems.style.maxHeight="200px";
        }else{
            MenuItems.style.maxHeight="0";
        }
    }


    // js for small images gallery
    let productimage=document.getElementById('productimg');
    let smallimg=document.getElementsByClassName('small-img');
    smallimg[0].onclick = function(){
        productimage.src=smallimg[0].src;
    }
    smallimg[1].onclick = function(){
        productimage.src=smallimg[1].src;
    }
    smallimg[2].onclick = function(){
        productimage.src=smallimg[2].src;
    }
    smallimg[3].onclick = function(){
        productimage.src=smallimg[3].src;
    }

</Script>



</body>
</html>